extends layout

block content
  h3 Which exit nodes are alive?

  p Please help make this page better at 
    a(href='https://github.com/sudomesh/monitor') https://github.com/sudomesh/monitor.
  
  each update in updates
    if update.error
      p.monitor-warning #{update.error}
    else
      p #{update.ip} is connecting [#{update.numberOfRoutes}] nodes via [#{update.numberOfGateways}] gateways.

  h3="diagram"
  img(src='diagram.jpg')

  h3="nodes"
  each node in nodes
    h4= node.exitNodeIP
    if node.routingTable
      table.table
        thead
          tr
            th='node'
            th='gateway'
            th='last seen'
        tbody
          each route in node.routingTable
            if route.nodeIP && route.gatewayIP && route.timestamp
              tr
                td=route.nodeIP
                td=route.gatewayIP
                td #{timeAgo(route.timestamp)}
    else
      p(style='margin-bottom: 20px')= node.error
