extends layout

block content
  h2 Which exit nodes are alive?
  each update in updates
    p= update
  p Please help make this page better at 
    a(href='https://github.com/sudomesh/monitor') https://github.com/sudomesh/monitor.

  h2="diagram"
  img(src='diagram.jpg')

  h2="nodes"
  if nodes
    each node in nodes
      h3= node.exitNodeIP
      if node.routingTable
        table.table
          thead
            tr
              th='node'
              th='gateway'
              th='last seen'
          tbody
            each route in node.routingTable
              if route.nodeIP && route.gatewayIP && route.timestamp
                tr
                  td=route.nodeIP
                  td=route.gatewayIP
                  td=route.timestamp
      else
        p= node.error
