extends layout

block content
  h3 Which exit nodes are alive?

  p Please help make this page better at 
    a(href='https://github.com/sudomesh/monitor') https://github.com/sudomesh/monitor.
  
  each count in routeCounts
    if count.error
      p.monitor-warning #{count.error}
    else
      p #{count.exitnodeIP} is connecting [#{count.numberOfRoutes}] nodes via [#{count.numberOfGateways}] gateways.

  h3="node history"
  p A plot of the number of nodes connected to our exitnodes in the last 24 hours.
  div(class='node-history-plot-container')
    svg(id='node-history-plot-svg', width='680px', height='300px')

  h3="network diagram"
  p A diagram of the network topology from the (limited) perspective of the exitnodes. Central hubs are exitnodes, one hop away are the gateway homenodes, and two hops away are extender nodes and meshing homenodes.
  div(class='network-plot-container')
    svg(id='network-plot-svg', width='680px', height='300px')
    div(id='network-plot-html')

  h3="nodes"
  each node in nodes
    h4= node.exitnodeIP
    if node.routingTable
      table.table
        thead
          tr
            th='node'
            th='gateway'
            th='last seen'
        tbody
          each route in node.routingTable
            if route.nodeIP && route.gatewayIP && route.timestamp
              tr
                td=route.nodeIP
                td=route.gatewayIP
                td #{timeAgo(route.timestamp)}
    else
      p(style='margin-bottom: 20px')= node.error
